/* SignUpPage.css */

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .signup-box {
    background-color: rgba(226, 247, 246, 0.973);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .signup-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-box label {
    margin: 10px 0;
  }
  
  .signup-box input {
    padding: 5px;
    margin-top: 5px;
  }
  
  .signup-box button {
    background-color: rgb(131, 17, 131);
    margin-top: 10px;
  }
  
  