/* SignInSuccessPage.css */

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .signin-container h2 {
    margin-bottom: 10px;
  }
  
  .signin-container p {
    margin-bottom: 20px;
  }
  